.testing {
  width: percentage(5/7);
  transform: scaleX(2);
}


.rubyButton {
  left: 59%;
}

.airshipButton {
  left: 32%;
}

.downloadButton {
  left: 42%;
  //bottom: 3em;
}


.button {
  cursor: pointer;
  background-color: transparent;
  color: #ac1401;
  margin-top: 700px;
  text-align: center;
  padding: 15px 32px;
  position: absolute;
  font-size: 16px;
  font-family: BlinkMacSystemFont;
  border: none;
  outline-style: none;
  text-decoration: none;
}
